
$themes: (
    light: (font_color1: #000000,
  
        font_color2: #ffffff,
          font_color3: #ffffff,
          font_color4:#ffffff,
          font_color5:#1755EE,
        background_color1: #ffffff,
        background_color3: #b4184c,
        background_color2:#00023d,
        background_color4:#000000,
         background_color5:#f6f6f6,
          background_color6:#f8f8f8,
         box_color:#e3e0e080,
        border_color1: rgb(231, 181, 181),
        border_color2: rgb(9, 255, 0)),
    dark: (font_color1: #ffffff,
        font_color2: #ffffff,
        font_color3: #000000,
        font_color4:#ffffff,
         font_color5:#1755EE,
        background_color1: #131415,
        background_color3: #ffffff,
        background_color2: #000000,
        background_color4:#1A1A1A,
         background_color5:#2C2C2C,
          background_color6:#f8f8f8,
          box_color:#000000,
        border_color1: rgb(9, 255, 0),
        border_color2: rgb(231, 181, 181)));